cucumber/pom.dtd

<!ELEMENT project (modelVersion,groupId,artifactId,version,dependencies,packaging,name)>
<!ELEMENT modelVersion (#PCDATA)>
<!ELEMENT groupId (#PCDATA)>
<!ELEMENT artifactId (#PCDATA)>
<!ELEMENT version (#PCDATA)>
<!ELEMENT dependencies (dependency+)>
<!ELEMENT dependency (groupId,artifactId,version,scope?)>
<!ELEMENT scope (#PCDATA)>
<!ELEMENT packaging (#PCDATA)>
<!ELEMENT name (#PCDATA)>